@model QuickCms.ItemModel
@{
    Layout = "/Views/Shared/_QuickCmsLayout.cshtml";
}

<h1>Edit @Model.TypeName</h1>
@using (Html.BeginForm("Edit"))
{
    @Html.EditorFor(m => m.Item)
    @Html.HiddenFor(m => m.TypeName)
    @Html.HiddenFor(m => m.FullTypeName)
    <input type="submit" value="Save" />
}