@model TestSite.Models.EntityIndexViewModel
@{
    Layout = "/Views/Shared/_QuickCmsLayout.cshtml";
}

<h1>@(Model.EntityName)s</h1>
<ul>
    @foreach (var entity in Model.Entities)
    {
        <li>@Html.ActionLink(entity.Name, "Edit", new {Model.EntityName, entity.Id})</li>
    }
</ul>