@model TestSite.Models.AdminIndexViewModel
@{
    Layout = "/Views/Shared/_QuickCmsLayout.cshtml";
}

<h1>Found types:</h1>
<ul>
    @foreach (var type in Model.FoundTypes)
    {
        <li>@Html.ActionLink(type.Name, "Index", "Entity", new { entityName = type.Name }, null)</li>
    }
</ul>